/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position:fixed;
  background: white;
  width: 40%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
} */

/* .signInButtons {
  z-index: 5;
  position: absolute;
  padding-left: 2.75em;
  padding-top: 20em;
} */
